.container {
    margin: 0 auto;
    max-width: 1280px;
}

.full-container {
    width: 100%;
}

.flex-layout {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    @media screen and (min-width:1024px) {
        align-items: flex-end;
        display: flex;
        flex-flow: row nowrap;
    }
}

.proyects {
    padding: 40px 20px;
    position: relative;
    overflow: hidden;

    @media screen and (min-width:1024px) {
        padding: 40px 0;
    }

    &:before,
    &:after {
        background-color: rgba(0, 0, 0, .9);
        content: '';
        cursor: pointer;
        display: none;
        height: 100%;
        position: absolute;
        width: 18%;
        z-index: 99;

        @media screen and (min-width:1024px) {
            display: block;
        }
    }    

    &:before {
        left: 0;                
        top: 0;
    }

    &:after {
        top: 0;
        right: 0;
    }  
}

.contact {
    padding: 40px 0;
}