html
    include ./templates/head.pug
    body
        include ./templates/nav.pug    
        include ./templates/about.pug
        include ./templates/proyects.pug
        //-include ./templates/skills.pug
        include ./templates/contact.pug
        script(src="js/main.js")