.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.rounded-border {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: -7px;
    width: 14.5px;
    height: 10px;
    border-radius: 50%;
    background: $main-color;
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    right: -7px;
    width: 14.5px;
    height: 10px;
    border-radius: 50%;
    background: $main-color;
  }
}

.break-line {
  display: block;
  @media screen and (min-width: 425px){
    display: none;    
  }
}