.btn {
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 15px;
    color: $main-color;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 15px 40px;
    text-align: center;

    &:hover {
        background-color: $main-color;
        color: #000;
    }
}

.btn-inverse {
    background-color: $main-color;
    border: 1px solid $main-color;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 15px 40px;
    text-align: center;

    &:hover {
        background-color: transparent;
        color: $main-color;
    }
}

.btn-after,
.btn-before {
    display: inline;
    position: absolute;
    top: 50%;
}

.btn-before {
    left: 0;
    margin-left: 5.5%;
    z-index: 100;
}

.btn-after {
    margin-right: 5%;
    right: 0;
    z-index: 100;
}