.contact {
    p {
        margin: 0 auto 70px;
        text-align: center;
        width: 40%;
    } 
      
    input, textarea {
        border: none;
        border-bottom: 1px solid #fff;
        display: block;
        margin-bottom: 50px;
        outline: none;
        padding-bottom: 20px;
        width: 100%;

        &:active,
        &:focus {
            border-bottom: 1px solid $main-color;  
        }
    }

    input:active::placeholder,
    input:focus::placeholder {
        color: $main-color;
        font-size: 20px;
    }

    textarea:active::placeholder,
    textarea:focus::placeholder {
        color: $main-color;
        font-size: 20px;
    }

    ::placeholder {
        color: #fff;
    }

    form {
        margin: 0 auto;
        width: 70%;
    }

    textarea {
        overflow: hidden;    
    }

    button[type="submit"] {
        margin: 0 auto;
    }
}