.logo {
  padding: 1.3% 0;
  width: 230px;
}

.st0 {
  fill: #C9AC7D;
}

.st1 {
  font-family: 'Comfortaa-Regular';
}

.st2 {
  font-size: 12px;
}

.st3 {
  fill: none;
  stroke: #C9AC7D;
  stroke-miterlimit: 10;
}

.st4 {
  font-family: 'Calligraffitti-Regular';
}

.st5 {
  font-size: 24px;
}