.menu {
    background-color: #fff;

    nav {
        float: right;
        padding: 3% 0px;
    }

    li {
        margin-right: 20px;
    }

    a {
        color: #000;
        font-size: 15px;
        padding: 10% 0;
    }

    a:hover {
        color: $main-color;
    }
}