.menu {
    background-color: #fff;
    text-align: center;
    
    @media screen and (min-width:526px){
        text-align: initial;
    }

    nav {
        padding: 3% 0px;

        @media screen and (min-width:526px){
            float: right;
        }
    }

    li {
        margin-right: 20px;
    }

    a {
        color: #000;
        font-size: 15px;
        padding: 10% 0;
    }

    a:hover {
        color: $main-color;
    }
}