* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

h1,
h2 {
  color: #ffffff;
  font-family: $title-font;
}

h3 {
  border-bottom: 10px solid $main-color;
  color: $main-color;
  font-family: $content-font;
  padding-bottom: 20px;
  span {
    border: 1px solid $main-color;
    margin: 0 25px;
  }
}

h1 {
  font-size: 48px
}

h2 {
  font-size: 32px;
  margin-bottom: $main-space*2;
  padding-bottom: 15px;
  text-align: center;
  span {
    border-bottom: 10px solid $main-color;
    padding-bottom: $main-space/2;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: -7px;
      width: 14.5px;
      height: 10px;
      border-radius: 50%;
      background: $main-color;
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      right: -7px;
      width: 14.5px;
      height: 10px;
      border-radius: 50%;
      background: $main-color;
    }
  }
}

p {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.4em;
}

form {
  input {
    background-color: #000;
    color: #fff;
    font-size: 24px;
  }
  textarea {
    background-color: #000;
    color: #fff;
    font-size: 24px;
    resize: none;
  }
}

li {
  display: inline;
  list-style: none;
}

a,
button {
  color: $main-color;
  text-decoration: none;
}

a,
p,
button {
  font-family: $content-font;
}