section.contact.container
    h2 
        span.rounded-border Contacto
    p Desea más información o sólo decir hola!?, puedes contactame al correo <a href="mailto:marcoledezmacordero09@gmail.com">marcoledezma<span class="break-line"></span>cordero@gmail.com</a> o llenar el siguiente formulario, estaré en contacto contigo tan pronto como pueda.
    form
        input(type="text", placeholder="Nombre")
        input(type="email", placeholder="Correo")
        textarea(name="test", cols="30", placeholder="Mensaje")
        button(type="submit", class="btn") Enviar