.contact 
    h2 Contact
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias alias accusamus, aut obcaecati tenetur iste inventore minus vel consectetur officiis.
    form
        input(type="text", placeholder="Name")
        input(type="email", placeholder="Email")
        input(type="text", placeholder="Subject")
        textarea(name="test", cols="30", rows="10" placeholder="Message")