.contact.container
    h2 
        span.rounded-border Contact
    p Do you want to know more information or just say Hello!?, you can contact me at <a>marcoledezmacordero@gmail.com</a> or fill out the following form, I will be in contact with you as soon as I can.
    form
        input(type="text", placeholder="Name")
        input(type="email", placeholder="Email")
        input(type="text", placeholder="Subject")
        textarea(name="test", cols="30", rows="5" placeholder="Message")