head
    title Portfolio
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    //- Cambiar por descargadas
    link(href="https://fonts.googleapis.com/css?family=Comfortaa|Poppins:700" rel="stylesheet")