svg.logo(version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 176.9 47.4" style="enable-background:new 0 0 176.9 47.4;" xml:space="preserve")
  text.st0.st1.st2(transform="matrix(1 0 0 1 53 43.9585)") Web developer
  line.st3(x1="31.1" y1="40.1" x2="0.3" y2="40.1")
  line.st3(x1="176.9" y1="40.1" x2="146.1" y2="40.1")
  text.st4.st5(transform="matrix(1 0 0 1 14.6326 19.125)") Marco Ledezma
