.full-container.menu
    .container.clearfix
        include ./logo.pug
        nav
            li 
                a(href="#") Acerca de
            li 
                a(href="#") Habilidades
            li 
                a(href="#") Proyectos
            li 
                a(href="#") Contacto