.full-container.menu
    .container.clearfix
        img(src="logo").logo
        nav
            li 
                a(href="#") Acerca de
            li 
                a(href="#") Habilidades
            li 
                a(href="#") Proyectos
            li 
                a(href="#") Contacto