.proyects
    h2 Proyects
    .proyect
        h3
        p
        a.btn(href="#")
    .proyect
        h3
        p
        a.btn(href="#")
    .proyect
        h3
        p
        a.btn(href="#")
    .btn-more