.proyects.container
    h2 
        span.rounded-border Proyects
    .flex-layout
        .proyect
            h3.rounded-border!= '2017<span></span>Medea'
            p   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            a.btn(href="#") See more
        .proyect
            h3.rounded-border!= '2016<span></span>Tradured'
            p   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            a.btn(href="#") See more
        .proyect
            h3.rounded-border!= '2015<span></span>Divcitos'
            p   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            a.btn(href="#") See more
    .btn-more