.skills
    h2 Skills
    .skills-icons
        img(src="#", alt="#")
        img(src="#", alt="#")
        img(src="#", alt="#")
        img(src="#", alt="#")
        img(src="#", alt="#")
        img(src="#", alt="#")